@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

}

.home-container {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    font-size: 3em;
}

.card-container {
    margin: 10px;
    padding: 5px;
    width: 500px;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.308);
    background-color: rgba(207, 239, 247, 0.63);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.navbar {
    position: fixed;
    list-style-type: none;
    overflow: hidden;
    background-color: #000000;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
}

.navbar a:hover {
    background-color: lightseagreen;
}

.nav-item {
    float: left;
}


.nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

select {

    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;

}

.cadastro-container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        ". . marca cor km . ."
        ". . modelo placa ano . ."
        ". . . botao . . .";
}

.cadastro-marca {
    padding: 5px;
    grid-area: marca;
}

.cadastro-modelo {
    padding: 5px;
    grid-area: modelo;
}

.cadastro-cor {
    padding: 5px;
    grid-area: cor;
}

.cadastro-placa {
    padding: 5px;
    grid-area: placa;
}

.cadastro-km {
    padding: 5px;
    grid-area: km;
}

.cadastro-ano {
    padding: 5px;
    grid-area: ano;
}

.cadastro-ano>lselect {

    padding: 5px;
    grid-area: ano;
    text-align: center;
}


#cadastro-btn,
#edit-btn,
#delete-btn,
#voltar-btn {
    margin: 5px;
    background-color: lightseagreen;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    width: 86px;
    height: 45px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.308);
}

#voltar-btn {
    width: 30px;
    background-color: grey;
}

#delete-btn {
    background-color: rgb(231, 83, 83);
}

td>button {
    margin: 5px;
    background-color: lightseagreen;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    width: 90px;
    height: 35px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.308);
}

#cadastro-btn:active,
#edit-btn:active,
td>button:active {
    background-color: rgb(26, 145, 139);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.308);
    transform: translateY(4px);
}

#delete-btn:active {
    background-color: rgb(196, 69, 69);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.308);
    transform: translateY(4px);
}

#voltar-btn:active {
    background-color: rgb(102, 102, 102);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.308);
    transform: translateY(4px);
}

#cadastro-btn:hover,
#edit-btn:hover,
td>button:hover {
    background-color: rgb(26, 145, 139);
}

#voltar-btn:hover {
    background-color: rgb(102, 102, 102);
}

#delete-btn:hover {
    background-color: rgb(196, 69, 69);
}

.carros-container {
    display: flex;
    justify-content: center;

}

#editar {
    display: none;

}


.buttons-edit {
    grid-area: botao;
}

table {
    margin: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.308);
    border-spacing: 0;
    border-collapse: separate;
    text-align: center;
    border: 2px solid lightseagreen;
}

tr:nth-child(even) {
    background-color: #f2f2f285;
}

th,
td {
    border: 1px solid lightseagreen;
    padding: 12px 15px;

}

th {
    padding: 8px px;
    background-color: rgba(207, 239, 247, 0.63);
    color: black;

    border-top: none;

}


@media only screen and (max-width:500px) {}